<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>勤怠情報変更｜LMS</title>
</head>
<body>

	<th:block th:if="${session.loginUserDto.role == '0001'}">
		<h2>勤怠管理</h2>
	</th:block>

	<th:block th:if="${session.loginUserDto.role != '0001'}">
		<h2>勤怠管理 <small>( [[${attendanceForm.userName}]] )</small></h2>
		<th:block th:if="${session.loginUserDto.leaveFlg == '1'}">
			<h2><small>途中退校日：${dispLeaveDate}</small></h2>
		</th:block>
	</th:block>

	<div class="row">
		<div class="bs-component col-sm-12">

			<form th:action="@{/attendance/update}" method="post">
				<table class="table table-hover dataTable no-footer">
					<thead style="display: block;">
						<tr>
							<th class="w140">日付</th>
							<th class="w140">コース内容</th>
							<th class="w60"></th>
							<th class="w180">出勤</th>
							<th class="w180">退勤</th>
							<th class="w80">中抜け時間</th>
							<th class="w70">ステータス</th>
							<!-- mock 合わせ w140 変更 -->
							<th class="w140">備考</th>
						</tr>
					</thead>
					<tbody style="display: block; overflow-y: auto; height: 570px">
						<th:block th:each="dailyAttendanceForm, stat : *{attendanceForm.attendanceList}">
							<tr th:style="${dailyAttendanceForm.isToday} ? 'background-color: #d9edf7;' : ''">
								<th:block>
									<input type="hidden" th:name="|attendanceList[${stat.index}].isToday|" th:value="${dailyAttendanceForm.isToday}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].studentAttendanceId|" th:value="${dailyAttendanceForm.studentAttendanceId}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].trainingDate|" th:value="${dailyAttendanceForm.trainingDate}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].dispTrainingDate|" th:value="${dailyAttendanceForm.dispTrainingDate}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].sectionName|" th:value="${dailyAttendanceForm.sectionName}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].statusDispName|" th:value="${dailyAttendanceForm.statusDispName}" />
								</th:block>
								<td class="w140">[[${dailyAttendanceForm.dispTrainingDate}]]</td>
								<!-- mock 合わせて w140 変更 -->
								<td class="w140">[[${dailyAttendanceForm.sectionName}]]</td>
								<!-- 定時ボタン -->
								<td class="w60">
									<input type="button" class="btn btn-success default-button" value="定時">
								</td>
								<!-- 
									w180 サイズ変更、flex横並び、select>option 時・分 設定、
									key「== dailyAttendanceForm.trainingStartTime」比較を value に変更 map のため
									th:inlne inline 修正
								 -->
								 <!-- 出勤 -->
								<td class="w180">
									<div style="display: flex;">
										<select th:name="|attendanceList[${stat.index}].trainingStartTimeHour|" class="form-control start-time-hour">
											<option th:each="trainingStartTimeHour : ${attendanceForm.trainingStartTimeHour}" th:value="${trainingStartTimeHour.key}" th:inline="text" class="form-control" 
												th:selected="${trainingStartTimeHour.key == dailyAttendanceForm.trainingStartTimeHour}">[[${trainingStartTimeHour.value}]]</option>
										</select>
										<span style="padding: 8px;">:</span> 
										<select th:name="|attendanceList[${stat.index}].trainingStartTimeMinute|" class="form-control start-time-minute">
											<option th:each="trainingStartTimeMinute : ${attendanceForm.trainingStartTimeMinute}" th:value="${trainingStartTimeMinute.key}" th:inline="text" class="form-control" 
												th:selected="${trainingStartTimeMinute.key == dailyAttendanceForm.trainingStartTimeMinute}">[[${trainingStartTimeMinute.value}]]</option>
										</select>
									</div>
								</td>

								<!-- 退勤 -->
								<td class="w180">
									<div style="display: flex;">
										<select th:name="|attendanceList[${stat.index}].trainingEndTimeHour|" class="form-control end-time-hour">
											<option th:each="trainingEndTimeHour : ${attendanceForm.trainingEndTimeHour}" th:value="${trainingEndTimeHour.key}" th:inline="text" class="form-control" 
												th:selected="${trainingEndTimeHour.key == dailyAttendanceForm.trainingEndTimeHour}">[[${trainingEndTimeHour.value}]]</option>
										</select>
										<span style="padding: 8px;">:</span> 
										<select th:name="|attendanceList[${stat.index}].trainingEndTimeMinute|" class="form-control end-time-minute">
											<option th:each="trainingEndTimeMinute : ${attendanceForm.trainingEndTimeMinute}" th:value="${trainingEndTimeMinute.key}" th:inline="text" class="form-control" 
												th:selected="${trainingEndTimeMinute.key == dailyAttendanceForm.trainingEndTimeMinute}">[[${trainingEndTimeMinute.value}]]</option>
										</select>
									</div>
								</td>

								<td class="w80">
									<select th:name="|attendanceList[${stat.index}].blankTime|" class="form-control">
										<option th:each="blankTime : ${attendanceForm.blankTimes}" th:value="${blankTime.key}" th:inline="text" class="form-control" 
											th:selected="${blankTime.key == dailyAttendanceForm.blankTime}">[[${blankTime.value}]]</option>
									</select>
								</td>
								<td class="w70">[[${dailyAttendanceForm.statusDispName}]]</td>
								<td class="w140">
									<input type="text" th:name="|attendanceList[${stat.index}].note|" th:value="${dailyAttendanceForm.note}" class="form-control"></input>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>

				<div class="form-group">
					<th:block th:if="${session.loginUserDto.role == '0001'}">
						<a th:href="@{/attendance/detail}" class="btn btn-default">戻る</a>
					</th:block>
					<th:block th:if="${session.loginUserDto.role != '0001'}">
						<input type="submit" value="戻る" name="indexCompany" class="btn btn-default" />
					</th:block>
					<input type="submit" value="更新" name="complete" class="btn btn-info" />
				</div>

			</form>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
		document.addEventListener("DOMContentLoaded", function () {
			// .default-button  全ての要素を取得
			const regularTimeButtons = document.querySelectorAll(".default-button");
			// 取得した regularTimeButtons の中、全ての button に対して実行
			regularTimeButtons.forEach(function (button) {
				// click されたら、 setRegularTime 実行
				button.addEventListener("click", setRegularTime);
			});

			// setRegularTime 処理内容
			function setRegularTime(event) {
				// tr の祖先要素 日付ごとに targetRow に取得
				const targetRow = event.currentTarget.closest("tr");

				// 出勤 09:00 を時分ごとに value にセット
				targetRow.querySelector(".start-time-hour").value = "9";
				targetRow.querySelector(".start-time-minute").value = "0";

				// 退勤 18:00 を時分ごとに value にセット
				targetRow.querySelector(".end-time-hour").value = "18";
				targetRow.querySelector(".end-time-minute").value = "0";
			}

		});
	</script>
</body>
</html>